<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestione Studenti{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>
  <body>
      <h1>Gestione Studenti</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% if session.username %}
          <p>Benvenuto, {{ session.username }} | <a href="{{ url_for('login.logout') }}">Logout</a></p>
      {% endif %}

      {% block content %}{% endblock %}
  </body>
</html>